* {
  color: #325D79;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFEEEE;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

main, footer {
  padding: 20px;
}

main .main-section, footer .main-section {
  padding: 10px 0px;
}

main .main-section :not(h1):not(code):not(div):not(a), footer .main-section :not(h1):not(code):not(div):not(a) {
  padding: 10px 0px 10px 20px;
}

main .main-section ul, footer .main-section ul {
  padding: 12.5px 0px 12.5px 60px !important;
}

main .main-section ul li, footer .main-section ul li {
  padding: 7.5px 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #325D79;
}

#navbar header h1 {
  max-width: 500px;
  text-align: center;
  padding: 10px 0px 10px 20px;
  margin: auto;
}

#navbar a {
  text-decoration: none;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 250px;
  overflow: auto;
  border-bottom: #325D79 solid;
}

#navbar ul li {
  border-style: solid;
  border-width: 1px;
  padding: 10px 0px 10px 20px;
  border-style: none;
  border-top: #325D79 solid;
}

#navbar .dark-mode-button-container {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

#navbar .dark-mode-button-container button {
  height: 27.5px;
  width: 110px;
}

.code-container {
  counter-reset: line;
  overflow: auto;
  max-height: 400px;
  width: 100%;
  margin: 5px 0px;
  padding: 7.5px;
  border-radius: 5px;
  color: #325D79;
  background-color: #9BD7D1;
}

.code-container code::before {
  content: "Line " counter(line) ": ";
}

.code-container code {
  overflow: auto;
  counter-increment: line;
  padding: 0px;
}

.code-container code::after {
  content: "\a";
  white-space: pre;
}

footer {
  text-align: center;
  padding-top: 0px;
}

@media screen and (min-width: 800px) {
  #navbar {
    position: fixed;
    width: 300px;
    height: 100vh;
    border-color: #325D79;
    border-right: #325D79 solid;
  }
  #navbar ul {
    border-bottom: #325D79 solid;
  }
  #navbar ul li {
    border-style: none;
    border-top: #325D79 solid;
  }
  main, footer {
    margin-left: 300px;
  }
}

.dark, .dark * {
  color: #EFEEEE;
  background-color: #325D79;
}

.dark *, .dark * * {
  color: #EFEEEE;
}

.dark body, .dark * body {
  background-color: #325D79;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark * h1, .dark * h2, .dark * h3, .dark * h4, .dark * h5, .dark * h6 {
  color: #EFEEEE;
}

.dark #navbar, .dark * #navbar {
  border-color: #9BD7D1;
}

.dark #navbar ul, .dark * #navbar ul {
  border-color: #9BD7D1;
}

.dark #navbar ul li, .dark * #navbar ul li {
  border-color: #9BD7D1;
}

.dark .code-container, .dark * .code-container {
  color: #325D79;
  background-color: #9BD7D1;
}

.dark .code-container code, .dark * .code-container code {
  color: #325D79;
  background-color: #9BD7D1;
}
/*# sourceMappingURL=style.css.map */