
// Variables - Light Style
$heading-color: #325D79;
$normal-text-color: #325D79;
$code-text-color: #325D79;
$nav-text-color: #325D79;

$bg-main-color: #EFEEEE;
$bg-code-color: #9BD7D1;

$nav-pc-view-width: 300px;
$nav-border-color: #325D79;

// Variables - Dark Style
$heading-color-dark: #EFEEEE;
$normal-text-color-dark: #EFEEEE;
$code-text-color-dark: #325D79;
$nav-text-color-dark: #EFEEEE;

$bg-main-color-dark: #325D79;
$bg-code-color-dark: #9BD7D1;

$nav-border-color-dark: #9BD7D1;

// Global Styles
* {
    color: $normal-text-color;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-main-color;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

main, footer {

    padding: 20px;
    .main-section {

        padding: 10px 0px;
        :not(h1):not(code):not(div):not(a) {
            padding: 10px 0px 10px 20px;
        }

        ul {
            padding: 12.5px 0px 12.5px 60px !important;

            li {
                padding: 7.5px 0px;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
}

// Nav Styles

#navbar {

    header h1 {
        max-width: 500px;
        text-align: center;
        padding: 10px 0px 10px 20px;
        margin: auto;
    }

    a {
        text-decoration: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        max-height: 250px;
        overflow: auto;
        border-bottom: $nav-border-color solid;

        li {
            border-style: solid;
            border-width: 1px;
            padding: 10px 0px 10px 20px;
            border-style: none;
            border-top: $nav-border-color solid;
        }
    }

    .dark-mode-button-container {
        padding-top: 20px;
        width: 100%;
        text-align: center;

        button {
            height: 27.5px;
            width: 110px;
        }
    }
}

// Code Styles 

.code-container {
    counter-reset: line;
    overflow: auto;
    max-height: 400px;
    width: 100%;
    margin: 5px 0px;
    padding: 7.5px;
    border-radius: 5px;
    color: $code-text-color;
    background-color:$bg-code-color;

    code::before {
        content: "Line " counter(line) ": ";
    }
    
    code {
        overflow: auto;
        counter-increment: line;
        padding:  0px;
    }

    code::after {
        content: "\a";
        white-space: pre;
    }
}

// Footer Styles

footer {
    text-align: center;
    padding-top: 0px;
}

// Media Queries

@media screen and (min-width: 800px) {

    #navbar {
        position: fixed;
        width: $nav-pc-view-width;
        height: 100vh;
        border-color: $nav-border-color;
        border-right: $nav-border-color solid;

        ul {

            border-bottom: $nav-border-color solid;

            li {
                border-style: none;
                border-top: $nav-border-color solid;
            }
        }
    }

    main, footer {
        margin-left: $nav-pc-view-width;
    }

}

// Dark Style

.dark, .dark * {

    color: $normal-text-color-dark;
    background-color: $bg-main-color-dark;

    * {
        color: $normal-text-color-dark;
    }
    
    body {
        background-color: $bg-main-color-dark;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $heading-color-dark;
    }

    #navbar {

        border-color: $nav-border-color-dark;

        ul {
            border-color: $nav-border-color-dark;

            li {
                border-color: $nav-border-color-dark;
            }
        }

    }

    .code-container {
        color: $code-text-color-dark;
        background-color:$bg-code-color-dark;

        code {
            color: $code-text-color-dark;
            background-color:$bg-code-color-dark;
        }
    }
}